@import "tailwindcss";

:root {
  /* Earthy Palette */
  --color-paper: #F5F2EA;
  --color-ink: #3E2723;
  --color-maroon: #7D3C3C;
  --color-green: #556B2F;
  --color-gold: #B8860B;
  --color-stone: #D7CCC8;
}

@theme {
  --color-paper: var(--color-paper);
  --color-ink: var(--color-ink);
  --color-maroon: var(--color-maroon);
  --color-green: var(--color-green);
  --color-gold: var(--color-gold);

  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}